<% block('title').append('关于科环') %>
<% block('keywords').append('建材,集成,墙板') %>
<% block('description').append('关于科环') %>
<% block('head').append(`

`) %>
<div class="about-page">
    <header>
        <h1>
            公司简介
        </h1>
        <h2>了解科环</h2>
    </header>
    <div class="container">
        <h1 class="title">丹东科环集成墙板有限公司</h1>
        <h2 class="sub-title">Dandong Kehuan integrated wallboard Co. Ltd.</h2>
        <img class="company-img" src="<%- staticFile('/public/img/about-bg.jpg')%>" alt="公司图片">
        <div class="content">
            <p>
                <span class="big">陕西壁虎环保科技有限公司</span>是西北首家大型环保装饰材料高新技术企业，公司集竹木纤维集成墙板系列产品的研发、生产、服务于一体，定位于“环保先锋、快装动力”，着眼于绿色环保的社会进程与快速硬装的发展趋势，以领先的创新思维和积极的开放姿态活跃在竞争日益透明化的装修材料市场中。
            </p>
            <p>
                壁虎科技依托高效的管理体系和雄厚的资金实力，把质量创新放在首位，积极进取不懈努力，为让用户受益于一流的健康环保人居环境，在产品研发、生产、品控、培训推广等各个环节都精益求精，将艺术美学、环保节能和科技智能等多种元素有机结合，开发了一系列绿色环保的新型竹木纤维装饰材料产品。
            </p>
            <p>
                壁虎的环境适应能力和尾巴的再生性特别为人称道，它们貌不惊人却专一互助，安静休憩又灵敏捕食，为人类创造健康环保的生活环境，是人类的好朋友，称之为墙上王者。壁虎科技以成熟的区域销售模式，简易透明的运营方法，不断完善的客服机制，为营造健康人居环境持续努力！
            </p>
            <p>我们的价值肯定来自于客户的价值提升，让更多用户受益于健康环保的创新科技是壁虎科技的使命。壁虎科技愿以开放姿态与各行业人士通力合作，协同发展，共创未来。
            </p>
            <p>
            <div class="contact">
                <div><span>公司地址：</span>辽宁省丹东市振兴区</div>
                <div><span>联系电话：</span>18888888888</div>
                <div><span>联系邮箱：</span>kehuan@kehuanwall.com</div>
            </div>
            </p>
        </div>
    </div>
</div>
<% block('footer').append(`
<script>
    $(function () {
        setHeaderNav('about');
    });
</script>
`) %>