<% block('title').append('关于科环') %>
<% block('keywords').append('建材,集成,墙板') %>
<% block('description').append('关于科环') %>
<% block('head').append(`

`) %>
<div class="about-page">
    <header>
        <h1>
            公司简介
        </h1>
        <h2>了解科环</h2>
    </header>
    <div class="container">
        <h1 class="title">丹东科环集成墙板有限公司</h1>
        <h2 class="sub-title">Dandong Kehuan integrated wallboard Co. Ltd.</h2>
        <img class="company-img" src="<%- staticFile('/public/img/about-bg.jpg')%>" alt="公司图片">
        <div class="content">
            <p>
                <span class="big">科环</span>公司以科技环保为理念，是一家专注于新型装饰材料、家居装饰美容、建筑节能等多个领域，
                打造丹东首家竹木纤维集成板的自主研发、生产、销售、为一体的高新技术企业
                公司凭借产品、策略、管理、人才四位一体、复合冲击的经营优势，以做健康家装，行时尚之职为宗旨，秉承诚信、创新、共赢的经营理念，以创造美好的人居环境为目标，2017年度重磅推出环保集成墙面项目，把时尚家装推向了一个全新的时代。科环集成墙面是一个以环保、恒温、健康为主题的多功能集成整体墙面的产品，倡导使用节能、环保、可再生的墙板来设计、实施及应用到更广泛的领域。
            </p>
            <p>
            <div class="contact">
                <div><span>公司地址：</span>辽宁省丹东市振兴区西城街道办事处瓦房街200号</div>
                <div><span>联系电话：</span>0415-6151888</div>
                <div><span>联系邮箱：</span>kehuanjituan@163.com</div>
            </div>
            </p>
        </div>
    </div>
</div>
<% block('footer').append(`
<script>
    $(function () {
        setHeaderNav('about');
    });
</script>
`) %>