<% block('title').append('加入我们') %>
<% block('keywords').append('建材,集成,墙板') %>
<% block('description').append('加入科环') %>
<% block('head').append(`
`) %>
<div class="employ-page">
    <header>
        <h1>
            招贤纳士
        </h1>
        <h2>不负青春</h2>
    </header>
    <!--<img class="position-img" src="<%- staticFile('/public/img/join-us.jpg')%>" alt="招聘图片">-->
    <!--<div class="container">-->
        <!--<div class="position-name-label">-->
            <!--岗位一：-->
        <!--</div>-->
        <!--<div class="position-name">-->
            <!--客服接待-->
        <!--</div>-->
        <!--<div class="position-duty">-->
            <!--岗位职责：-->
        <!--</div>-->
        <!--<ul class="position-duty-detail">-->
            <!--<li>负责400电话和公司座机的接听以及来访客户的接待；</li>-->
            <!--<li>了解客户需求，对其提供专业的咨询；</li>-->
            <!--<li>客户相关信息的录入管理，建立客户档案；</li>-->
            <!--<li>适当处理服务的故障和客户的投诉处理，控制客户满意度的的跟踪及分析；</li>-->
            <!--<li>完成上级交给的其它事务性工作。</li>-->
        <!--</ul>-->
        <!--<div class="position-name-label">-->
            <!--岗位一：-->
        <!--</div>-->
        <!--<div class="position-name">-->
            <!--客服接待-->
        <!--</div>-->
        <!--<div class="position-duty">-->
            <!--岗位职责：-->
        <!--</div>-->
        <!--<ul class="position-duty-detail">-->
            <!--<li>负责400电话和公司座机的接听以及来访客户的接待；</li>-->
            <!--<li>了解客户需求，对其提供专业的咨询；</li>-->
            <!--<li>客户相关信息的录入管理，建立客户档案；</li>-->
            <!--<li>适当处理服务的故障和客户的投诉处理，控制客户满意度的的跟踪及分析；</li>-->
            <!--<li>完成上级交给的其它事务性工作。</li>-->
        <!--</ul>-->

        <!--<div class="position-name-label">-->
            <!--岗位一：-->
        <!--</div>-->
        <!--<div class="position-name">-->
            <!--客服接待-->
        <!--</div>-->
        <!--<div class="position-duty">-->
            <!--岗位职责：-->
        <!--</div>-->
        <!--<ul class="position-duty-detail">-->
            <!--<li>负责400电话和公司座机的接听以及来访客户的接待；</li>-->
            <!--<li>了解客户需求，对其提供专业的咨询；</li>-->
            <!--<li>客户相关信息的录入管理，建立客户档案；</li>-->
            <!--<li>适当处理服务的故障和客户的投诉处理，控制客户满意度的的跟踪及分析；</li>-->
            <!--<li>完成上级交给的其它事务性工作。</li>-->
        <!--</ul>-->

        <!--<div class="position-name-label">-->
            <!--岗位一：-->
        <!--</div>-->
        <!--<div class="position-name">-->
            <!--客服接待-->
        <!--</div>-->
        <!--<div class="position-duty">-->
            <!--岗位职责：-->
        <!--</div>-->
        <!--<ul class="position-duty-detail">-->
            <!--<li>负责400电话和公司座机的接听以及来访客户的接待；</li>-->
            <!--<li>了解客户需求，对其提供专业的咨询；</li>-->
            <!--<li>客户相关信息的录入管理，建立客户档案；</li>-->
            <!--<li>适当处理服务的故障和客户的投诉处理，控制客户满意度的的跟踪及分析；</li>-->
            <!--<li>完成上级交给的其它事务性工作。</li>-->
        <!--</ul>-->
    <!--</div>-->
</div>
<% block('footer').append(`
<script>
    $(function () {
        setHeaderNav('employ');
    });
</script>
`) %>