<div class="header">
    <div class="nav" id="navbar">
        <a href="/" title="丹东科环" class="brand">
            <img src="<%- staticFile('/public/img/LOGO-200.png')%>" alt="">
        </a>
        <img class="show-menu-icon" style="" src="<%- staticFile('/public/img/icon_menu.png')%>" alt="">
        <ul class="nav-menu">
            <li id="homePage" title="首页" class="active"><a href="/">首页</a></li>
            <li id="product"><a href="/product" title="产品">产品</a></li>
            <li id="plan"><a href="/plan" title="解决方案">解决方案</a></li>
            <li id="about"><a href="/about" title="关于科环">关于科环</a></li>
            <li id="employ"><a href="/employ" title="加入我们">加入我们</a></li>
        </ul>
    </div>
</div>