<div class="header-nav">
    <div class="nav" id="navbar">
        <a href="/" title="丹东科环" class="brand">
            <img src="<%- staticFile('/public/img/LOGO-200.png')%>" alt="">
        </a>
        <img class="show-menu-icon" style="" src="<%- staticFile('/public/img/icon_menu.png')%>" alt="">
        <ul class="nav-menu">
            <li id="index-nav" title="首页"><a data-id="index">首页</a></li>
            <li id="profile--nav"><a data-id="profile" title="公司简介">公司简介</a></li>
            <li id="business-nav"><a data-id="business" title="业务核心理念">核心理念</a></li>
            <li id="advantage-nav"><a data-id="advantage" title="九大优势">九大优势</a></li>
            <li id="contrast-nav"><a data-id="contrast" title="产品对比">产品对比</a></li>
            <li id="contact-nav"><a data-id="contact" title="联系我们">联系我们</a></li>
            <li id="tel"><a href="tel:0415-6151888" title="24小时服务热线"><img src="<%- staticFile('/public/img/phone.png')%>" alt="24小时服务热线" style="margin-right: 5px;"> 0415-6151888</a></li>
        </ul>
    </div>
</div>