<div class="header-nav">
    <div class="nav" id="navbar">
        <a href="/" title="丹东科环" class="brand">
            <img src="<%- staticFile('/public/img/LOGO-200.png')%>" alt="">
        </a>
        <img class="show-menu-icon" style="" src="<%- staticFile('/public/img/icon_menu.png')%>" alt="">
        <ul class="nav-menu">
            <li id="home" title="首页"><a data-id="index">首页</a></li>
            <li id="product"><a data-id="profile" title="公司简介">公司简介</a></li>
            <li id="plan"><a data-id="business" title="业务核心理念">业务核心理念</a></li>
            <li id="employ"><a href="tel:400-8888-8888" title="24小时服务热线"><img src="<%- staticFile('/public/img/phone.png')%>" alt="24小时服务热线">400-8888-8888</a></li>
        </ul>
    </div>
</div>