<% block('title').append('首页') %>
<% block('keywords').append('建材,集成,墙板') %>
<% block('description').append('首页测试描述啥的') %>
<% block('head').append(`
`) %>
<div id="index" class="home-page">
    <div class="home-banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img class="hidden-xs" src="<%- staticFile('/public/img/banner1.jpg')%>" alt="科环智造 一切均可替代">
                    <img class="hidden-sm hidden-md hidden-lg" src="<%- staticFile('/public/img/banner-phone1.jpg')%>"
                         alt="科环智造 一切均可替代">
                </div>
                <div class="swiper-slide">
                    <img class="hidden-xs" src="<%- staticFile('/public/img/banner2.jpg')%>" alt="竹木纤维材质 绿色环保">
                    <img class="hidden-sm hidden-md hidden-lg" src="<%- staticFile('/public/img/banner-phone2.jpg')%>"
                         alt="竹木纤维材质 绿色环保">
                </div>
                <div class="swiper-slide">
                    <img class="hidden-xs" src="<%- staticFile('/public/img/banner3.jpg')%>" alt="创新科技 环保材料 当下装修主旋律产品">
                    <img class="hidden-sm hidden-md hidden-lg" src="<%- staticFile('/public/img/banner-phone3.jpg')%>"
                         alt="创新科技 环保材料 当下装修主旋律产品">
                </div>
                <div class="swiper-slide">
                    <img class="hidden-xs" src="<%- staticFile('/public/img/banner4.jpg')%>" alt="有氧快装 即装即住">
                    <img class="hidden-sm hidden-md hidden-lg" src="<%- staticFile('/public/img/banner-phone4.jpg')%>"
                         alt="有氧快装 即装即住">
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination swiper-pagination-white"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
        </div>
    </div>
    <section id="profile" class="company-profile">
        <div class="container">
            <div class="title">
                <h2>
                    公司简介
                    <div class="line"></div>
                </h2>
                <h3>COMPANY PROFILE</h3>
            </div>
            <div class="content">
                <span class="big">科环</span>公司以科技环保为理念，是一家专注于新型装饰材料、家居装饰美容、建筑节能等多个领域，
                打造丹东首家竹木纤维集成板的自主研发、生产、销售、为一体的高新技术企业
                公司凭借产品、策略、管理、人才四位一体、复合冲击的经营优势，以做健康家装，行时尚之职为宗旨，秉承诚信、创新、共赢的经营理念，以创造美好的人居环境为目标，2017年度重磅推出环保集成墙面项目，把时尚家装推向了一个全新的时代。科环集成墙面是一个以环保、恒温、健康为主题的多功能集成整体墙面的产品，倡导使用节能、环保、可再生的墙板来设计、实施及应用到更广泛的领域。
            </div>
        </div>
    </section>

    <section id="business" class="business">
        <div class="container">
            <div class="content">
                <div class="line line1"></div>
                <div class="line line2"></div>
                <div class="line line3"></div>
                <div class="line line4"></div>
                <div class="line line5"></div>
                <div class="line line6"></div>
                <div class="line line7"></div>
                <div class="line line8"></div>
                <div class="text text1">告别传统墙面</div>
                <div class="text text2">尚生活</div>
                <div class="text text3">科环墙 优品质</div>
                <div class="text text4">家天下</div>
                <div class="text text5">真正的一站式服务</div>
                <div class="text text6">无忧的绿色家装</div>
                <div class="text text7">科环墙板代替传统壁纸、涂料产品，让装修更环保</div>
                <div class="text text8">科环智造 一切均可替代</div>
                <div class="text text9">业务核心理念</div>
            </div>
        </div>
    </section>

    <section id="advantage" class="advantage">
        <div class="container">
            <div class="title">
                <h2>
                    产品九大优势
                    <div class="line"></div>
                </h2>
                <h3>NINE ADVANTAGES</h3>
            </div>
            <div class="box">
                <div class="active">
                    <div class="block">
                        <div class="title">
                            <span>保温隔热</span>
                        </div>
                        <div class="text">
                            <span>经国家级权威部门检测保温效能超过国家现有标准，安装房间和普通板安装室内温度相差7度；和油漆相比相差10度，是墙体装饰最佳材料。本产品有独特的隔热性能，对产品应用在阳台、阳光房和别墅顶层的空间彻底解决了顶层的阳光照射。达到明显的节能效果，也是属于国家大力提倡的节能装饰材料。
</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="block">
                        <div class="title">
                            <span>隔音</span>
                        </div>
                        <div class="text">
                            <span>经国家级权威部门检测隔音达29分贝,相当于实墙的隔音,如用于卫生间明显的解决了下水管的水声.也可应用于工厂的各类隔音房。</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="block">
                        <div class="title">
                            <span>防火</span>
                        </div>
                        <div class="text">
                            <span>经国家级权威部门检测防火等级达到B1级,基本上满足工程的防火要求。</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="block">
                        <div class="title">
                            <span>超强硬度</span>
                        </div>
                        <div class="text">
                            <span>本产品对竹木纤维高温压制而成进行了复合，使产品增加强度和硬度，可以在各类护墙上。</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="block">
                        <div class="title">
                            <span>防水 防潮</span>
                        </div>
                        <div class="text">
                            <span>本产品有防潮性能，特别适应于南方的装修.特别解决了南方家居装修的墙体渗漏形成装修霉变。,基本上满足工程的防火要求。</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="block">
                        <div class="title">
                            <span>绿色环保</span>
                        </div>
                        <div class="text">
                            <span>本产品表面处的所采用原材料全部是环保材料,安装好的房间环保无味,房间整体装修的话就没有油漆这工序,解决装修材料时间和油漆味,今天装好明天就可以入住大大节约了时间。</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="block">
                        <div class="title">
                            <span>安装便利</span>
                        </div>
                        <div class="text">
                            <span>本产品在设计时采用传统的扣板安装方式,大大解决其它的铝板的繁琐安装,更不需要专业人员而普通的木工师傅就会安装,可直接在毛胚墙上安装，省工、省时、又节约空间。</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="block">
                        <div class="title">
                            <span>易擦洗不变形</span>
                        </div>
                        <div class="text">
                            <span>产品表面强有力可以用布直接擦洗,彻底解决装修产品的擦洗难问题.本产品采用的聚胺脂复合技术,产品成形后达到不变形和不老化效果。</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="block">
                        <div class="title">
                            <span>时尚空间</span>
                        </div>
                        <div class="text">
                            <span>本产品可应用多功能,可直接扣,拼,对接等梦幻组合。</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contrast" class="contrast">
        <div class="container">
            <div class="title">
                <h2>
                    产品对比
                    <div class="line"></div>
                </h2>
                <h3>PRODUCT COMPARISION</h3>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="contrast-one-two">
                    <img src="<%- staticFile('/public/img/contrast-1.png')%>" alt="创新'多维效果'，绿色环保科技">
                    <div class="text">
                        <div class="title">创新"多维效果"，绿色环保科技</div>
                        <div class="con">
                            <p>
                                平面、立体、3D、刺绣、大理石、布纹、木纹……效果逼真，花色多样，时尚美观有品位，视觉感受精美绝伦，相比传统木质、石材、油漆、涂料、壁纸等，装饰效果大为超越。
                            </p>
                            <p>
                                阻燃防潮、隔热隔音、低碳低耗、无气味、易擦洗、不霉变……塞尚格调系列产品超强功能通过了国家级权威部门检测，完全摆脱油漆、涂料、壁纸造成的环境污染，成为最完美的空间装饰更新换代产品
                            </p>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="contrast-one-two two">
                    <img src="<%- staticFile('/public/img/contrast-2.png')%>" alt="一站式服务，便捷、省钱">
                    <div class="text">
                        <div class="title">一站式服务，便捷、省钱</div>
                        <div class="con">
                            <p>
                                多维整装全屋定制将环保材料纤维板与高分子膜采用先进的生产工艺一次性热压贴合技术成型。
                            </p>
                            <p>
                                新颖独特的设计，使得塞尚格调材料可直接安装于毛胚墙，即装即住（只需木工一种工种、一道工序完成，一般只需要20天左右即可入住），这样大大减少了施工时间和成本，却实现了更好的装饰效果。可谓清洁便捷的时尚生活方式
                            </p>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="contrast-title">
                    科环全屋整装 VS 传统家装
                </div>
                <table class="contrast-table">
                    <tbody>
                    <tr class="header">
                        <td width="14.28%" class="th"></td>
                        <td width="14.28%" class="th">
                            油漆
                        </td>
                        <td width="14.28%" class="th">
                            涂料
                        </td>
                        <td width="14.28%" class="th">
                            瓷砖
                        </td>
                        <td width="14.29%" class="th">
                            墙纸
                        </td>
                        <td width="14.29%" class="th">
                            生态木
                        </td>
                        <td width="14.28%" class="th">
                            科环墙板
                        </td>
                    </tr>
                    <tr>
                        <td width="14.28%">
                            环保性
                        </td>
                        <td width="14.28%">
                            不环保有刺激性气味，含有苯，毒性大，对人体有危害，严重的会出现昏迷，以致呼吸、循环衰竭而亡。

                        </td>
                        <td width="14.28%">
                            大部分溶剂型涂料以及有机溶剂里都含有苯及其化合物。苯是一种无色具有特殊芳香的液体，被称为“芳香杀手”。

                        </td>
                        <td width="14.28%">
                            瓷砖相对是比较环保的装饰材料，但它有放射性。它的“放射性”分为两种，一种是天然放射性核素，另一类是人工辐射，存在于我们的生存环境中。
                        </td>
                        <td width="14.29%">
                            普通墙纸可能含有甲醛、单体重金属、氯乙烯等。这些将对人体神经、内脏、皮肤有危害，尤其是对儿童影响较大。
                        </td>
                        <td width="14.29%">
                            生态木采用PVC发泡技术完成的复合材料，但部分生态木由于材料的问题，可能木质材料会有毒、异味，含有油漆钉刨等，并容易被虫蚁等损害。

                        </td>
                        <td width="14.28%">
                            竹木纤维环保材料，对人体无任何危害。不含甲醛，无放射性危害，没有任何异味。
                        </td>
                    </tr>
                    <tr>
                        <td width="14.28%">
                            保温性
                        </td>
                        <td width="14.28%">
                            普通油漆不具备保温效果，特殊油漆有保温性能。保温不佳。
                        </td>
                        <td width="14.28%">
                            普通涂料不具备保温效果，部分涂料有保温性能，保温不佳。
                        </td>
                        <td width="14.28%">
                            瓷砖不具备保温效果，它有很强的散热效果。
                        </td>
                        <td width="14.29%">
                            墙纸不具备保温效果，没有隔热、阻热的性能。
                        </td>
                        <td width="14.29%">
                            木材的导热系数很小，它有比较好的保温性能。
                        </td>
                        <td width="14.28%">
                            有很显著的保温、隔热效果。科环快板和普通板材安装对比室内温度相差7度；和油漆相比相差10度。
                        </td>
                    </tr>
                    <tr>
                        <td width="14.28%">
                            防水性
                        </td>
                        <td width="14.28%">
                            防水性能差，容易出现渗水现象。
                        </td>
                        <td width="14.28%">
                            耐水性不强。防水性能差，容易出现渗水现象。
                        </td>
                        <td width="14.28%">
                            不防水，贴瓷砖需要做专门的防水层，尤其是厨房、卫生间。
                        </td>
                        <td width="14.29%">
                            潮湿墙面贴墙纸要先刷防水。
                        </td>
                        <td width="14.29%">
                            防水性差，长时间处于潮湿地区易霉变、腐烂。
                        </td>
                        <td width="14.28%">
                            防潮、防水性能极佳。可以有效阻止水汽，墙壁不会产生水珠，防霉变。
                        </td>
                    </tr>
                    <tr>
                        <td width="14.28%">
                            隔音性
                        </td>
                        <td width="14.28%">
                            没有隔音效果
                        </td>
                        <td width="14.28%">
                            没有隔音效果
                        </td>
                        <td width="14.28%">
                            没有隔音效果
                        </td>
                        <td width="14.29%">
                            没有隔音效果
                        </td>
                        <td width="14.29%">
                            隔音效果很差
                        </td>
                        <td width="14.28%">

                            隔音效果优越。普通实墙隔音效果在45分贝左右，科环集成墙板隔音效果可达29分贝，隔音效果相当明显。

                        </td>
                    </tr>
                    <tr>
                        <td width="14.28%">
                            清洁卫生
                        </td>
                        <td width="14.28%">
                            难以清洁，尤其是有小孩的家庭，1米以下墙体，很容易变脏
                        </td>
                        <td width="14.28%">
                            涂料很难清洁，一重新刷新一次。
                        </td>
                        <td width="14.28%">
                            瓷砖比较容易清洁，但长时间以后，容易发黄、变色。
                        </td>
                        <td width="14.29%">
                            墙纸清洁困难，需要按特殊方法清洁卫生，并且费时费工。
                        </td>
                        <td width="14.29%">
                            生态木比较容易清洁。
                        </td>
                        <td width="14.28%">
                            清洁卫生方便、容易。可以直接用水擦洗，油污、灰尘等难以粘附，清洁省时、省工。
                        </td>
                    </tr>
                    <tr>
                        <td width="14.28%">
                            装修时间
                        </td>
                        <td width="14.28%">

                            需要找平墙面，刮三遍腻子，才能刷油漆，耗时很长。若遇阴雨天，则无法动工，一般三个月到半年

                        </td>
                        <td width="14.28%">
                            需要找平墙面，刮三遍腻子，才能刷涂料，耗时很长。
                        </td>
                        <td width="14.28%">
                            需要找平墙面，上水泥，短则一两个月，长则三四个月。
                        </td>
                        <td width="14.29%">
                            需要铲墙皮，批墙，打磨，刷基膜等，一般15-30天。
                        </td>
                        <td width="14.29%">
                            装修时间短，一般居民房半月即可全部完工。
                        </td>
                        <td width="14.28%">
                            装修方便，装完即可入住，无需做空气净化等处理。
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <section id="contact" class="contact">
        <div class="container">
            <div class="title">
                <h2>
                    联系我们
                    <div class="line"></div>
                </h2>
                <h3>CONTACT US</h3>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-12 map">
                    <a href="http://j.map.baidu.com/elafe" target="_blank">
                        <img src="<%- staticFile('/public/img/map.png')%>" alt="地图">
                    </a>
                </div>
                <div class="col-md-6 col-xs-12">
                    <ul>
                        <li>
                            <img src="<%- staticFile('/public/img/icon1.png')%>" alt="服务热线" class="icon">
                            服务热线：<a href="tel:0415-6151888">0415-6151888</a>
                        </li>
                        <li>
                            <img src="<%- staticFile('/public/img/icon2.png')%>" alt="邮箱" class="icon">
                            邮箱：<a href="mailto:kehuanjituan@163.com">kehuanjituan@163.com</a>
                        </li>
                        <li>
                            <img src="<%- staticFile('/public/img/icon3.png')%>" alt="邮编" class="icon">
                            邮编：118002
                        </li>
                        <li>
                            <img src="<%- staticFile('/public/img/icon4.png')%>" alt="地址" class="icon">
                            地址：辽宁省丹东市振兴区西城街道办事处瓦房街200号
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
<% block('footer').append(`
<script>
    $(function () {
//        setHeaderNav('home');
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            spaceBetween: 0,
            paginationClickable: true,
            autoplay: 3000,
            autoplayDisableOnInteraction: true,
            autoHeight: false, //enable auto height
            loop: true,
        });

        $('.nav-menu a').on('click', function () {
            $('.nav-menu').removeClass('show-menu');
            var id = $(this).attr('data-id');
            if (id) {
                $("#" + id).HoverTreeScroll(200, 100);
            }
        });

        var boxW = $('.box').width();
        var blockActiveWidth = boxW * 0.52;
        $('.box > div').width(boxW * 0.06);
        $('.box .block').width(blockActiveWidth);
        $('.box .block').each(function (index, block) {
//            $(block).css('background-position-x', (-(index + 1) * boxW * 0.06 )+'px')
        });
        $('.box .title').width(boxW * 0.06);
        $('.box .text').css('left', boxW * 0.06);

        $('.box> div').hover(function () {
            $(this).width(blockActiveWidth);
            $(this).siblings().width(boxW * 0.06);
        });
        $('.box > div:first').width(blockActiveWidth).siblings().width(boxW * 0.06);
    });

</script>
`) %>