<% block('title').append('首页') %>
<% block('keywords').append('建材,集成,墙板') %>
<% block('description').append('首页测试描述啥的') %>
<% block('head').append(`
`) %>
<div class="home-page">
    <div class="home-banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="<%- staticFile('/public/img/banner1.jpg')%>" alt="科环智造 一切均可替代">
                </div>
                <div class="swiper-slide">
                    <img src="<%- staticFile('/public/img/banner2.jpg')%>" alt="竹木纤维材质 绿色环保">
                </div>
                <div class="swiper-slide">
                    <img src="<%- staticFile('/public/img/banner3.jpg')%>" alt="创新科技 环保材料 当下装修主旋律产品">
                </div>
                <div class="swiper-slide">
                    <img src="<%- staticFile('/public/img/banner4.jpg')%>" alt="有氧快装 即装即住">
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination swiper-pagination-white"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
        </div>
    </div>
    <section id="profile" class="company-profile">
        <div class="container">
            <div class="title">
                <h2>
                    公司简介
                    <div class="line"></div>
                </h2>
                <h3>COMPANY PROFILE</h3>
            </div>
            <div class="content">
                <span class="big">科环</span>公司以科技环保为理念，是一家专注于新型装饰材料、家居装饰美容、建筑节能等多个领域，
                打造丹东首家竹木纤维集成板的自主研发、生产、销售、为一体的高新技术企业
                公司凭借产品、策略、管理、人才四位一体、复合冲击的经营优势，以做健康家装，行时尚之职为宗旨，秉承诚信、创新、共赢的经营理念，以创造美好的人居环境为目标，2017年度重磅推出环保集成墙面项目，把时尚家装推向了一个全新的时代。科环集成墙面是一个以环保、恒温、健康为主题的多功能集成整体墙面的产品，倡导使用节能、环保、可再生的墙板来设计、实施及应用到更广泛的领域。
            </div>
        </div>
    </section>

    <section id="business" class="business">
        <div class="container">
            <div class="content">
                <div class="line line1"></div>
                <div class="line line2"></div>
                <div class="line line3"></div>
                <div class="line line4"></div>
                <div class="line line5"></div>
                <div class="line line6"></div>
                <div class="line line7"></div>
                <div class="line line8"></div>
                <div class="text text1">告别传统墙面</div>
                <div class="text text2">尚生活</div>
                <div class="text text3">科环墙 尤品质</div>
                <div class="text text4">家天下</div>
                <div class="text text5">真正的一站式服务</div>
                <div class="text text6">无忧的绿色家装</div>
                <div class="text text7">科环墙板代替传统壁纸、涂料产品，让装修更环保</div>
                <div class="text text8">科环智造 一切均可替代</div>
                <div class="text text9">业务核心理念</div>
            </div>
        </div>
    </section>


    <div style="height:100px"></div>
    <h1>丹东科环集成墙板有限公司 banner展示</h1>
    <h2>
        科环智造 替代一切
    </h2>
    <p>
        科环墙板替代传统壁纸、涂料产品，让装修更环保
    </p>
    <h2>有氧快装 即装即住</h2>
    <p>颠覆传统装修模式 线条拼接装完即可入住</p>
    <h2>竹木纤维 绿色环保</h2>
    <p>竹木纤维材质，绿色环保，无辐射、无甲醛产生 让居住无后顾之忧</p>

    <h1>业务核心理念</h1>
    <p>创新科技 环保材料 当下装修主旋律产品</p>
    <p>告别繁琐施工，拒绝健康隐患，享受创意生态空间</p>
    <p>科环集成墙板，开创装修新时代</p>

    <h1>产品九大优势</h1>
    <h2>1）保温、隔热</h2>
    <p>
        经国家级权威部门检测保温效能超过国家现有标准，安装房间和普通板安装室内温度相差7度；和油漆相比相差10度，是墙体装饰保温的最佳材料。本产品有独特的隔热性能，对产品应用在阳台、阳光房和别墅顶层的空间彻底解决了顶层的阳光照射。达到明显的节能效果，也是属于国家大力提倡的节能装饰材料。</p>
    <h2>2）隔音</h2>
    <p>经国家级权威部门检测隔音达29分贝,相当于实墙的隔音,如用于卫生间明显的解决了下水管的水声.也可应用于工厂的各类隔音房。</p>
    <h2>3）防火</h2>
    <p>经国家级权威部门检测防火等级达到B1级,基本上满足工程的防火要求。</p>
    <h2>4）超强硬度</h2>
    <p>本产品对竹木纤维高温压制而成进行了复合，使产品增加强度和硬度，可以在各类护墙上。</p>
    <h2>5）防水 防潮</h2>
    <p>本产品有防潮性能，特别适应于南方的装修.特别解决了南方家居装修的墙体渗漏形成装修霉变。</p>
    <h2>6）绿色环保</h2>
    <p>本产品表面处的所采用原材料全部是环保材料,安装好的房间环保无味,房间整体装修的话就没有油漆这工序,解决装修材料时间和油漆味,今天装好明天就可以入住大大节约了时间。</p>
    <h2>7）安装便利</h2>
    <p>本产品在设计时采用传统的扣板安装方式,大大解决其它的铝板的繁琐安装,更不需要专业人员而普通的木工师傅就会安装,可直接在毛胚墙上安装，省工、省时、又节约空间。</p>
    <h2>8）易擦洗不变形</h2>
    <p>产品表面强有力可以用布直接擦洗,彻底解决装修产品的擦洗难问题.本产品采用的聚胺脂复合技术,产品成形后达到不变形和不老化效果。</p>
    <h2>9）时尚空间</h2>
    <p>本产品可应用多功能,可直接扣,拼,对接等梦幻组合</p>

    <h1>高清色卡</h1>
    <p>高清色卡图片</p>

    <h1>产品对比</h1>
    <section class="table">
        <table class="normal">
            <tbody>
            <tr>
                <td width="14.28%" class="th"></td>
                <td width="14.28%" class="th">
                    <pa data-size="10.50pt" role="tbItem" class="p">油漆</pa>
                </td>
                <td width="14.28%" class="th">
                    <pa data-size="10.50pt" role="tbItem" class="p">涂料</pa>
                </td>
                <td width="14.28%" class="th">
                    <pa data-size="10.50pt" role="tbItem" class="p">瓷砖</pa>
                </td>
                <td width="14.29%" class="th">
                    <pa data-size="10.50pt" role="tbItem" class="p">墙纸</pa>
                </td>
                <td width="14.29%" class="th">
                    <pa data-size="10.50pt" role="tbItem" class="p">生态木</pa>
                </td>
                <td width="14.28%" class="th">
                    <pa data-size="10.50pt" role="tbItem" class="p">科环墙板</pa>
                </td>
            </tr>
            <tr>
                <td width="14.28%">
                    <pa data-size="10.50pt" role="tbItem" class="p">环保性</pa>
                </td>
                <td width="14.28%">
                    <pa data-size="6.50pt" role="tbItem" class="p">不环保有刺激性气味，含有苯，毒性大，对人体有危害，严重的会出现昏迷，以致呼吸、循环衰竭而亡。</pa>
                </td>
                <td width="14.28%">
                    <pa data-size="6.50pt" role="tbItem" class="p">大部分溶剂型涂料以及有机溶剂里都含有苯及其化合物。苯是一种无色具有特殊芳香的液体，被称为“芳香杀手”。
                    </pa>
                </td>
                <td width="14.28%">
                    <pa data-size="6.50pt" role="tbItem" class="p">
                        瓷砖相对是比较环保的装饰材料，但它有放射性。它的“放射性”分为两种，一种是天然放射性核素，另一类是人工辐射，存在于我们的生存环境中
                        <space>&nbsp;</space>
                        。
                    </pa>
                </td>
                <td width="14.29%">
                    <pa data-size="6.50pt" role="tbItem" class="p">普通墙纸可能含有甲醛、单体重金属、氯乙烯等。这些将对人体神经、内脏、皮肤有危害，尤其是对儿童影响较大。
                    </pa>
                </td>
                <td width="14.29%">
                    <pa data-size="6.50pt" role="tbItem" class="p">
                        生态木采用PVC发泡技术完成的复合材料，但部分生态木由于材料的问题，可能木质材料会有毒、异味，含有油漆钉刨等，并容易被虫蚁等损害。
                    </pa>
                </td>
                <td width="14.28%">
                    <pa data-size="6.50pt" role="tbItem" class="p">竹木纤维环保材料，对人体无任何危害。不含甲醛，无放射性危害，没有任何异味。</pa>
                </td>
            </tr>
            <tr>
                <td width="14.28%">
                    <pa data-size="10.50pt" role="tbItem" class="p">保温性</pa>
                </td>
                <td width="14.28%">
                    <pa data-size="6.50pt" role="tbItem" class="p">普通油漆不具备保温效果，特殊油漆有保温性能。保温不佳。</pa>
                </td>
                <td width="14.28%">
                    <pa data-size="6.50pt" role="tbItem" class="p">普通涂料不具备保温效果，部分涂料有保温性能，保温不佳。</pa>
                </td>
                <td width="14.28%">
                    <pa data-size="6.50pt" role="tbItem" class="p">瓷砖不具备保温效果，它有很强的散热效果。</pa>
                </td>
                <td width="14.29%">
                    <pa data-size="6.50pt" role="tbItem" class="p">墙纸不具备保温效果，没有隔热、阻热的性能。</pa>
                </td>
                <td width="14.29%">
                    <pa data-size="6.50pt" role="tbItem" class="p">木材的导热系数很小，它有比较好的保温性能。</pa>
                </td>
                <td width="14.28%">
                    <pa data-size="6.50pt" role="tbItem" class="p">有很显著的保温、隔热效果。壁虎快板和普通板材安装对比室内温度相差7度；和油漆相比相差10度。</pa>
                </td>
            </tr>
            <tr>
                <td width="14.28%">
                    <pa data-size="10.50pt" role="tbItem" class="p">防水性</pa>
                </td>
                <td width="14.28%">
                    <pa data-size="6.50pt" role="tbItem" class="p">防水性能差，容易出现渗水现象。</pa>
                </td>
                <td width="14.28%">
                    <pa data-size="6.50pt" role="tbItem" class="p">耐水性不强。防水性能差，容易出现渗水现象。</pa>
                </td>
                <td width="14.28%">
                    <pa data-size="6.50pt" role="tbItem" class="p">不防水，贴瓷砖需要做专门的防水层，尤其是厨房、卫生间。</pa>
                </td>
                <td width="14.29%">
                    <pa data-size="6.50pt" role="tbItem" class="p">潮湿墙面贴墙纸要先刷防水。</pa>
                </td>
                <td width="14.29%">
                    <pa data-size="6.50pt" role="tbItem" class="p">防水性差，长时间处于潮湿地区易霉变、腐烂。</pa>
                </td>
                <td width="14.28%">
                    <pa data-size="6.50pt" role="tbItem" class="p">防潮、防水性能极佳。可以有效阻止水汽，墙壁不会产生水珠，防霉变。</pa>
                </td>
            </tr>
            <tr>
                <td width="14.28%">
                    <pa data-size="10.50pt" role="tbItem" class="p">隔音性</pa>
                </td>
                <td width="14.28%">
                    <pa data-size="6.50pt" role="tbItem" class="p">没有隔音效果</pa>
                </td>
                <td width="14.28%">
                    <pa data-size="6.50pt" role="tbItem" class="p">没有隔音效果</pa>
                </td>
                <td width="14.28%">
                    <pa data-size="6.50pt" role="tbItem" class="p">没有隔音效果</pa>
                </td>
                <td width="14.29%">
                    <pa data-size="6.50pt" role="tbItem" class="p">没有隔音效果</pa>
                </td>
                <td width="14.29%">
                    <pa data-size="6.50pt" role="tbItem" class="p">隔音效果很差</pa>
                </td>
                <td width="14.28%">
                    <pa data-size="6.50pt" role="tbItem" class="p">隔音效果优越。普通实墙隔音效果在45分贝左右，科环集成墙板隔音效果可达29分贝，隔音效果相当明显。
                    </pa>
                </td>
            </tr>
            <tr>
                <td width="14.28%">
                    <pa data-size="10.50pt" role="tbItem" class="p">清洁卫生</pa>
                </td>
                <td width="14.28%">
                    <pa data-size="6.50pt" role="tbItem" class="p">难以清洁，尤其是有小孩的家庭，1米以下墙体，很容易变脏</pa>
                </td>
                <td width="14.28%">
                    <pa data-size="6.50pt" role="tbItem" class="p">涂料很难清洁，一重新刷新一次。</pa>
                </td>
                <td width="14.28%">
                    <pa data-size="6.50pt" role="tbItem" class="p">瓷砖比较容易清洁，但长时间以后，容易发黄、变色。</pa>
                </td>
                <td width="14.29%">
                    <pa data-size="6.50pt" role="tbItem" class="p">墙纸清洁困难，需要按特殊方法清洁卫生，并且费时费工。</pa>
                </td>
                <td width="14.29%">
                    <pa data-size="6.50pt" role="tbItem" class="p">生态木比较容易清洁。</pa>
                </td>
                <td width="14.28%">
                    <pa data-size="6.50pt" role="tbItem" class="p">清洁卫生方便、容易。可以直接用水擦洗，油污、灰尘等难以粘附，清洁省时、省工。</pa>
                </td>
            </tr>
            <tr>
                <td width="14.28%">
                    <pa data-size="10.50pt" role="tbItem" class="p">装修时间</pa>
                </td>
                <td width="14.28%">
                    <pa data-size="6.50pt" role="tbItem" class="p">需要找平墙面，刮三遍腻子，才能刷油漆，耗时很长。若遇阴雨天，则无法动工，一般三个月到半年</pa>
                </td>
                <td width="14.28%">
                    <pa data-size="6.50pt" role="tbItem" class="p">需要找平墙面，刮三遍腻子，才能刷涂料，耗时很长。</pa>
                </td>
                <td width="14.28%">
                    <pa data-size="6.50pt" role="tbItem" class="p">需要找平墙面，上水泥，短则一两个月，长则三四个月。</pa>
                </td>
                <td width="14.29%">
                    <pa data-size="6.50pt" role="tbItem" class="p">需要铲墙皮，批墙，打磨，刷基膜等，一般15-30天。</pa>
                </td>
                <td width="14.29%">
                    <pa data-size="6.50pt" role="tbItem" class="p">装修时间短，一般居民房半月即可全部完工。</pa>
                </td>
                <td width="14.28%">
                    <pa data-size="6.50pt" role="tbItem" class="p">装修方便，装完即可入住，无需做空气净化等处理。</pa>
                </td>
            </tr>
            </tbody>
        </table>
    </section>

    <h1>公司简介</h1>
    科环公司以科技环保为理念，是一家专注于新型装饰材料、家居装饰美容、建筑节能等多个领域，
    打造丹东首家竹木纤维集成板的自主研发、生产、销售、为一体的高新技术企业
    公司凭借产品、策略、管理、人才四位一体、复合冲击的经营优势，以做健康家装，行时尚之职为宗旨，秉承诚信、创新、共赢的经营理念，以创造美好的人居环境为目标，2017年度重磅推出环保集成墙面项目，把时尚家装推向了一个全新的时代。科环集成墙面是一个以环保、恒温、健康为主题的多功能集成整体墙面的产品，倡导使用节能、环保、可再生的墙板来设计、实施及应用到更广泛的领域。


</div>
<% block('footer').append(`
<script>
    $(function () {
//        setHeaderNav('home');
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            spaceBetween: 0,
            paginationClickable: true,
            autoplay: 3000,
            autoplayDisableOnInteraction: true,
            autoHeight: false, //enable auto height
        });

        $('.nav-menu a').on('click', function () {
            var id = $(this).attr('data-id');
            if(id){
                $("#" + id).HoverTreeScroll(200, 100);
            }
        });

    });

</script>
`) %>