<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="<%- staticFile('/public/img/LOGO-64.png')%>">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="renderer" content="webkit">
    <title>丹东科环集成墙板有限公司-<%- block('title').toString() %></title>
    <meta name="keywords"
          content="科环,整屋快装,丹东,竹木纤维集成墙板,竹木纤维集成墙面,辽宁,集成墙面厂家,快装墙板,科环墙板,快板,建材,装修,环保<%- block('keywords').toString() %>">
    <meta name="description"
          content="科环集成墙板是新兴的整屋快装集成墙板材料，相比其他材料，竹木纤维健康环保，具有明显的优势，是真正颠覆传统的革命性“环保快装”产品，是房屋装修中名副其实的MagicWall。丹东科环集成墙板有限公司官网。<%- block('description').toString() %>">

    <link rel="stylesheet" href="<%- staticFile('/public/bootstrap/dist/css/bootstrap.min.css')%>">
    <link rel="stylesheet" href="<%- staticFile('/public/css/index.css')%>">
    <link rel="stylesheet" href="<%- staticFile('/public/Swiper-3.4.1/dist/css/swiper.min.css')%>">
    <%- block('head').toString() %>
</head>
<body>
<% include ./header.html %>
<%- body %>
<script src="<%- staticFile('/public/jquery/dist/jquery.min.js')%>"></script>
<script src="<%- staticFile('/public/bootstrap/dist/js/bootstrap.min.js')%>"></script>
<script src="<%- staticFile('/public/js/common.min.js')%>"></script>
<script src="<%- staticFile('/public/Swiper-3.4.1/dist/js/swiper.min.js')%>"></script>
<%- block('footer').toString() %>
</body>
</html>