.employ-page {
  header {
    width: 100%;
    height: 250px;
    //background: #4998f9;
    background: url("../img/join-us.jpg") no-repeat;
    background-size: cover;
    color: #fff;
    h1 {
      display: inline-block;
      margin: 0 20px 0 100px;
      font-weight: normal;
      padding-top: 150px;
      font-size: 40px;
    }
    h2 {
      display: inline-block;
      font-weight: normal;
    }
  }
  .position-img {
    width: 100%;
    height: auto;
    padding-top: 50px;
  }
  .position-name-label {
    padding-top: 20px;
  }
  .position-name {
    padding: 10px 0;
    font-weight: bold;
  }
  .position-duty-detail {
    list-style-type: decimal;
  }
}