.home-page {
  .title {
    text-align: center;
    h2 {
      position: relative;
      display: inline-block;
      width: 300px;
      padding-bottom: 10px;
      border-bottom: 1px solid #000;
      color: #4f4543;
      font-size: 30px;
    }
    h3 {
      margin-top: 7px;
      color: #4f4543;
      font-size: 18px;
    }
    .line {
      position: absolute;
      height: 3px;
      width: 80px;
      background: #000;
      bottom: -2px;
      left: 50%;
      margin-left: -40px;
    }
  }
  .company-profile {
    padding: 30px 0 100px 0;
    //background: url('../img/company-profile-bg.png') no-repeat;
    .content {
      padding-top: 30px;
      font-size: 16px;
      span.big {
        font-size: 28px;
      }
    }
  }
  .business {
    height: 390px;
    background: url('../img/business.png') no-repeat center;
    .content {
      position: absolute;
      width: 360px;
      height: 330px;
      margin-top: 30px;
      .line {
        position: absolute;
        background: #000;
      }
      .text {
        position: absolute;
        text-shadow: 2px 1px 2px #FFF;
      }
      .line1 {
        top: 30px;
        left: 70px;
        width: 90px;
        height: 10px;
      }
      .text1 {
        top: 21px;
        left: 162px;
        font-size: 20px;
      }
      .line2 {
        top: 30px;
        left: 285px;
        width: 55px;
        height: 10px;
      }
      .line3 {
        top: 30px;
        left: 340px;
        width: 10px;
        height: 40px;
      }
      .text2 {
        top: 56px;
        left: 300px;
        font-size: 12px;
      }
      .text3 {
        top: 73px;
        left: 283px;
        font-size: 12px;
      }
      .text4 {
        top: 90px;
        left: 300px;
        font-size: 12px;
      }
      .line4 {
        top: 92px;
        left: 340px;
        width: 10px;
        height: 170px;
      }
      .line5 {
        top: 260px;
        left: 70px;
        width: 280px;
        height: 10px;
      }
      .line6 {
        top: 260px;
        left: 130px;
        width: 10px;
        height: 65px;
      }
      .text5 {
        top: 275px;
        left: 145px;
        font-size: 16px;
      }
      .text6 {
        top: 298px;
        left: 145px;
        font-size: 16px;
      }
      .line7 {
        top: 210px;
        left: 70px;
        width: 10px;
        height: 50px;
      }
      .line8 {
        top: 30px;
        left: 70px;
        width: 10px;
        height: 80px;
      }
      .text7 {
        top: 180px;
        left: 0;
        color: #006a3e;
        font-size: 14px;
      }
      .text8{
        top: 150px;
        left: 0;
        color: #006a3e;
        font-size: 22px;
      }
      .text9{
        top: 112px;
        left: 0;
        color: #006a3e;
        font-size: 30px;
      }
    }
  }
}