.home-banner {
  padding-top: 100px;
  background: #1e70cd;
  background: -moz-radial-gradient(50% 50%, circle cover, #2c8dfb 0%, #1e70cd 100%);
  background: -webkit-gradient(radial, 50% 50%, 0px, center center, 100%, color-stop(0%, #2c8dfb), color-stop(100%, #1e70cd));
  background: -webkit-radial-gradient(0% 0%, circle cover, #2c8dfb 0%, #1e70cd 100%);
  background: -o-radial-gradient(50% 50%, circle cover, #2c8dfb 0%, #1e70cd 100%);
  background: -ms-radial-gradient(50% 50%, circle cover, #2c8dfb 0%, #1e70cd 100%);
  background: radial-gradient(circle at 50% 50%, #2c8dfb 0%, #1e70cd 100%);
  header {
    //background: #1e70cd;
    //background: -moz-radial-gradient(50% 50%, circle cover, #2c8dfb 0%, #1e70cd 100%);
    //background: -webkit-gradient(radial, 50% 50%, 0px, center center, 100%, color-stop(0%, #2c8dfb), color-stop(100%, #1e70cd));
    //background: -webkit-radial-gradient(0% 0%, circle cover, #2c8dfb 0%, #1e70cd 100%);
    //background: -o-radial-gradient(50% 50%, circle cover, #2c8dfb 0%, #1e70cd 100%);
    //background: -ms-radial-gradient(50% 50%, circle cover, #2c8dfb 0%, #1e70cd 100%);
    //background: radial-gradient(circle at 50% 50%, #2c8dfb 0%, #1e70cd 100%);
    height: 700px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    color: #fff;
    height: 620px;
  }

  header .github-buttons {
    text-align: center;
  }

  header .logo {
    background: #fff url(../i/logo.png) no-repeat center;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    margin: 0 auto;
    background-size: 150px 150px;
    display: block;
    float: left;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  header .title {
    margin: 0;
    font-size: 65px;
    font-weight: 100;
    line-height: 1;
    margin: 25px 0 0;
    color: #fff;
  }

  header .subtitle {
    color: #fff;
    font-size: 36px;
    margin: 0;
    font-weight: 100;
    line-height: 1;
    margin-top: 10px;
  }

  header .titles {
    margin-left: 220px;
    text-align: left;
    margin-bottom: 100px;
    position: relative;
  }

  header .by {
    font-size: 13px;
    font-weight: 300;
    margin-top: 10px;
  }

  header .by a {
    color: #fff;
    text-decoration: none;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -ms-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
    opacity: 0.7;
  }

  header .by a:hover {
    opacity: 1;
  }

  header.inner-header {
    height: auto;
    padding: 30px 0;
    overflow: hidden;
    background-position: center bottom;
    background: #1e70cd;
    background: -moz-radial-gradient(0% 0%, ellipse cover, #2c8dfb 0%, #1e70cd 50%);
    background: -webkit-gradient(radial, 0% 0%, 0px, center center, 100%, color-stop(0%, #2c8dfb), color-stop(50%, #1e70cd));
    background: -webkit-radial-gradient(0% 0%, ellipse cover, #2c8dfb 0%, #1e70cd 50%);
    background: -o-radial-gradient(0% 0%, ellipse cover, #2c8dfb 0%, #1e70cd 50%);
    background: -ms-radial-gradient(0% 0%, ellipse cover, #2c8dfb 0%, #1e70cd 50%);
    background: radial-gradient(ellipse at 0% 0%, #2c8dfb 0%, #1e70cd 50%);
  }

  header.inner-header .logo {
    height: 150px;
    width: 150px;
    background: url(../i/logo.png);
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    float: left;
  }

  header.inner-header .title-links {
    float: none;
    margin-left: 180px;
    margin-right: 330px;
  }

  header.inner-header .title, header.inner-header .subtitle {
    font-family: "myriad", Helvetica Neue, Helvetica, Arial, sans-serif;
  }

  header.inner-header .title {
    margin: 0;
    margin-bottom: 0px;
    line-height: 1;
  }

  header.inner-header .subtitle {
    margin-top: 0;
    margin-bottom: 20px;
  }

  header.inner-header .inner-links a {
    color: #fff;
    margin-right: 10px;
  }

  header.inner-header .links a {
    width: 100px;
  }

  header.inner-header .links-label {
    width: 50px;
    padding-right: 10px;
    text-align: right;
  }

  header.inner-header .links-row {
    margin: 10px 0;
    white-space: nowrap;
  }

  header.inner-header .links-row:last-child {
    margin-bottom: 0;
  }

  header.inner-header .links-row .links-label, header.inner-header .links-row .links {
    display: inline-block;
    margin: 0;
  }

  header .release-info {
    font-size: 14px;
    margin: 20px 0;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.02em;
  }

  header .release-info a {
    color: inherit;
    text-decoration: none;
  }

  header .release-info a:hover {
    text-decoration: underline;
  }

  header .links {
    margin: 20px 0;
    font-weight: 400;
    text-align: center;
  }

  header .links a {
    color: #fff;
    display: inline-block;
    border: 1px solid #fff;
    border-right: none;
    text-decoration: none;
    height: 27px;
    line-height: 27px;
    font-size: 13px;
    width: 100px;
    text-align: center;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -ms-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
  }

  header .links a:first-child {
    border-radius: 5px 0 0 5px;
  }

  header .links a:last-child {
    border-radius: 0 5px 5px 0;
    border-right: 1px solid #fff;
  }

  header .links a:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  header .links a:active, header .links a.active {
    background: #fff;
    color: #1e70cd;
  }

  .header-swipers {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .header-swipers .swiper-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .header-swipers .swiper-container .swiper-slide {
    box-sizing: border-box;
    padding: 40px;
  }

  .header-swipers .swiper-pagination {
    bottom: 70px;
  }

  .header-swipers .header-swiper-back-2 .swiper-slide {
    height: 580px;
    width: 78%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.05);
  }

  .header-swipers .header-swiper-back-1 {
    opacity: 0.5;
  }

  .header-swipers .header-swiper-back-1 .swiper-slide {
    height: 540px;
    width: 75%;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  .header-swipers .header-swiper-front .swiper-slide {
    height: 500px;
    width: 70%;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid #fff;
  }

  .header-swipers .slide-title, .header-swipers .slide-subtitle {
    font-family: "myriad", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 55px;
    font-weight: 100;
    line-height: 1;
    margin-bottom: 40px;
  }

  .header-swipers .slide-subtitle {
    font-size: 45px;
  }

  .header-swipers .demo-iframe-title {
    position: absolute;
    background: rgba(30, 112, 205, 0.5);
    left: 0;
    top: 0;
    padding: 10px;
    margin: 0;
    z-index: 100;
    font-weight: 300;
    font-size: 31px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .header-swipers .slide-features-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "myriad", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 21px;
    font-weight: 300;
  }

  .header-swipers .slide-features-list li {
    float: left;
    width: 50%;
    position: relative;
  }

  .header-swipers .slide-features-list li:before {
    width: 12px;
    height: 6px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    position: absolute;
    right: 100%;
    margin-right: 8px;
    content: '';
    top: 8px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0.7;
  }

  .header-swipers .swiper-slide.swiper-slide-gallery {
    padding: 0;
    border: none;
  }

  .header-swipers .swiper-gallery-top .swiper-slide, .header-swipers .swiper-gallery-thumbs .swiper-slide {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    border: none;
    padding: 0;
    height: 100%;
  }

  .header-swipers .swiper-gallery-top {
    height: 79%;
    margin-bottom: 1%;
    position: relative;
    left: 0;
    top: 0;
  }

  .header-swipers .swiper-gallery-thumbs {
    height: 20%;
    position: relative;
    left: 0;
    top: 0;
  }

  .header-swipers .swiper-gallery-thumbs .swiper-slide {
    opacity: 0.5;
    cursor: pointer;
  }

  .header-swipers .swiper-gallery-thumbs .swiper-slide-active {
    opacity: 1;
  }

  .header-swipers .swiper-slide.last-centered-slide {
    text-align: center;
    padding-top: 180px;
  }

  @media (max-width: 1080px) {
    header.inner-header .subtitle {
      font-weight: 300;
      font-size: 24px;
    }

    header.inner-header .carbon {
      margin-top: 18px;
    }
  }

  @media (max-width: 1024px) {

    header.inner-header .carbon {
      margin-top: 18px;
    }

    header.inner-header .links-row .links a {
      width: 85px;
      font-size: 13px;
      font-weight: 400;
    }
  }
}
